:root {
    --light-backbround: #E2C9DF;
    --dark-background: #2B0F48;

    --button-hover: #640264;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
    
}

body {
    background-color: #FFF2F2;
    margin-bottom: 60px;
    background-image: url('/resources/logo/Logistic Dasboard Background.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-position: center;
}

.offcanvas {
    background-color: var(--light-backbround);
}

.btn {
    color: white;
    font-weight: bold;
    text-align: left;
}

.link-btn{
    background-color: var(--dark-background);
}

.offcanvas-start{
    width: auto !important;
}

header {
    background-color: #1B0042;
    color: white;
}

.user-icon {
    filter: invert(100%) sepia(0%) saturate(7478%) hue-rotate(23deg) brightness(124%) contrast(97%);
}

.filter-inputs{
    border: solid 1px;
    padding: 8px;
    text-align: center;
}

.filter-inputs input{
    margin-right: 8px;
}

#announcement-container{
    border: solid 1px black;
    width: 200px;
    height: 84%;
}

#sea-freight-mainTable, th, td {
    text-align: center;
    border: solid 1px black;
    border-collapse: collapse;
    vertical-align: middle;
}

#sea-freight-mainTable td {
    vertical-align: middle;
}

input[type=text] {
    background: rgb(0 0 0 / 0%);
    border: solid 1px;
}

.sub-label{
   font-weight: bold;
}

.border{
    border-color:black !important;
}

.fill-yellow {
    background-color: #FFF2CC;
}
.fill-blue {
    background-color: #B4C6E7;
}
.fill-green {
    background-color: #93FFC9;
}
.fill-orange {
    background-color: #F8CBAD;
}
.fill-light_green {
    background-color: #C6E0B4;
}

.legends span{
    font-weight:500;
}

.shipment-details{
    background-color: green !important;
    color: white;
    vertical-align: middle;
}
.vessel-status {
    background-color: #009999 !important;
    color: white;
    vertical-align: middle;
}

.delivery {
    background-color: #BE5014 !important;
    color: white;
    vertical-align: middle;
}

.sea-freight-controls {
    background: none;
    border: none;
    font-size: 12px;
    color: #0000CC;
}

#sea-freight-mainTable_filter{
    margin-bottom: 8px !important;
}

.dt-column-header {
    align-items: center !important;
    padding-left: 8px;
    padding-right: 8px;
}

table.dataTable {
    border-collapse: collapse !important;
    background-color: white;
}

/*.dt-layout-table{
    overflow: scroll;
}*/

.btn:hover{
    color: white;
}