:root {
    --light-backbround: #E2C9DF;
    --dark-background: #2B0F48;
    --button-hover: #640264;
    --misc-color: #6F056F;
    --body-background: #FFF2F2;
}

html {
  font-size: 14px;
}

.body-background{
    background-color: var(--body-background);
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
    
}

body {
    background-color: #FFF2F2;
    margin-bottom: 60px;
    background-image: url('/resources/logo/Logistic Dasboard Background.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-position: center;
}

.dark-backround{
    background-color: var(--dark-background);
}

.misc-color{
    background-color: var(--misc-color);
}

.offcanvas {
    background-color: var(--light-backbround);
}

.primary-background{
    background-color: var(--light-backbround);
}

.btn {
    color: white !important;
    font-weight: bold;
    text-align: left;
}

.link-btn{
    background-color: var(--dark-background);
}

.offcanvas-start{
    width: auto !important;
}

header {
    background-color: #1B0042;
    color: white;
}

.user-icon {
    filter: invert(100%) sepia(0%) saturate(7478%) hue-rotate(23deg) brightness(124%) contrast(97%);
}

.filter-inputs{
    border: solid 1px;
    padding: 8px;
    text-align: center;
}

.filter-inputs input{
    margin-right: 8px;
}

#announcement-container{
    border: solid 1px black;
    width: 200px;
    height: 84%;
}

#sea-freight-table, #sea-freight-table th, #sea-freight-table td,
#air-freight-table, #air-freight-table th, #air-freight-table td,
#sailing-schedule-table, #sailing-schedule-table th, #sailing-schedule-table td,
#portListB-table, #portListB-table th, #portListB-table td,
#portListA-table, #portListA-table th, #portListA-table td,
#berthListB-table, #berthListB-table th, #berthListB-table td,
#berthListA-table, #berthListA-table th, #berthListA-table td 



{
    text-align: center;
    border: solid 1px black;
    border-collapse: collapse;
    vertical-align: middle;
}

#sea-freight-mainTable td {
    vertical-align: middle;
}

input[type=text] {
    background: rgb(0 0 0 / 0%);
    border: solid 1px;
}

.sub-label{
   font-weight: bold;
}

.border{
    border-color:black !important;
}

.fill-yellow {
    background-color: #FFF2CC;
}
.fill-blue {
    background-color: #B4C6E7;
}
.fill-green {
    background-color: #93FFC9;
}
.fill-orange {
    background-color: #F8CBAD;
}
.fill-light_green {
    background-color: #C6E0B4;
}

.legends span{
    font-weight:500;
}

.shipment-details{
    background-color: green !important;
    color: white;
    vertical-align: middle;
}
.vessel-status {
    background-color: #009999 !important;
    color: white;
    vertical-align: middle;
}

.delivery {
    background-color: #BE5014 !important;
    color: white;
    vertical-align: middle;
}

.sea-freight-controls, .air-freight-controls, .sailing-schedule, .port-utilization, .berth-utilization {
    background: none;
    border: none;
    font-size: 12px;
    color: #0000CC;
}

#sea-freight-mainTable_filter{
    margin-bottom: 8px !important;
}

.dt-column-header {
    align-items: center !important;
    padding-left: 8px;
    padding-right: 8px;
}

table.dataTable {
    border-collapse: collapse !important;
    background-color: white;
}

/*.dt-layout-table{
    overflow: scroll;
}*/

.btn:hover {
    color: white;
    background-color: var(--button-hover);
}

.btn:focus {
    color: white;
    background-color: var(--button-hover);
}

td input[type="date"] {
    border: 0;
    color: black;
}

td input.empty-date {
    color: transparent;
}

.sailingSchedule-head {
    background-color: #305496;
    
}

.sailingSchedule-head .dt-column-title {
    text-align: center;
    padding: 8px;
}

.sailingSchedule-delay{
    background-color:red !important;
}

.sailingSchedule-delay-row {
    background-color: #92D050 !important;
}

#sailingScheduleChart {
    /*background-image: url('/resources/logo/Logistic Dasboard Background.png');
    background-size: cover;
    background-repeat: no-repeat;*/
}

.accordion-body {
    background-color: #e0c9e0;
    padding: 0;
}

/* Make fixed columns match the main table background */
th.dtfc-fixed-start.dtfc-fixed-left {
    /*background-color: teal !important;*/ /* or match your table bg */
    z-index: 3;
}

.fixed-column {
    background-color: #395497 !important;

}

td.dtfc-fixed-start{
    background-color: white !important;
}

#termsAndTerminologies .accordion-button {
    display: inline-flex !important;
    width: auto !important;
    gap: 8px;
    background-color: transparent !important;
}

#termsAndTerminologies .accordion-item {
    background-color: transparent !important;
    border: 0;
}

#termsAndTerminologies .accordion-body {
    background-color: transparent !important;
}

#incoterms-table td{
    padding: 0 !important;
}

#incoterms-table td {
    border: 1px solid black;
    height: 50px;
}

#incoterms-table td select {
    border: 0;
    border-radius: 0;
    color: white;
    text-align: center;
    
}

#incoterms-table tr {
    border: 1px solid black;
    border-radius: 0;
    color: white;
    text-align: center;
}

#incoterms-table th {
    border: 1px solid black;
    border-radius: 0;
    color: black;
    text-align: center;
}

#incoterms-table .code{
    color: black !important;
    vertical-align: middle;
}

#incoterms-header{
    vertical-align: middle;
}

.row-header {
    writing-mode: vertical-rl; /* vertical layout, top-to-bottom, right-to-left */
    text-orientation: upright; /* keeps letters upright */
    white-space: nowrap;
}

#incoterms-table td select.form-control {
    width: 100%;
    height: 100%; /* match the row height */
    box-sizing: border-box;
}

.leaflet-routing-container.leaflet-bar.leaflet-routing-container-hide.leaflet-control{
    display: none;
}