:root {
    --light-backbround: #E2C9DF;
    --dark-background: #2B0F48;

    --button-hover: #640264;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
    
}

body {
    background-color: #FFF2F2;
    margin-bottom: 60px;
}

.offcanvas {
    background-color: var(--light-backbround);
}

.btn {
    background-color: var(--dark-background);
    color: white;
    font-weight: bold;
    text-align: left;
}

.btn:hover {
    color: var(--light-backbround);
}

.offcanvas-start{
    width: auto !important;
}

header {
    background-color: #1B0042;
    color: white;
}

.user-icon {
    filter: invert(100%) sepia(0%) saturate(7478%) hue-rotate(23deg) brightness(124%) contrast(97%);
}

.filter-inputs{
    border: solid 1px;
    padding: 8px;
    text-align: center;
}

.filter-inputs input{
    margin-right: 8px;
}

#announcement-container{
    border: solid 1px black;
    width: 200px;
    height: 84%;
}

table th, td{
    text-align: center;
}

table td{
    vertical-align: middle;
}