# User-specific files
.vs/
*.user
*.suo

# Build results
bin/
obj/

LogisticDashboard.API/bin/
LogisticDashboard.API/obj/

LogisticDashboard.Core/bin/
LogisticDashboard.Core/obj/

LogisticDashboard.Web/.vs/
LogisticDashboard.Web/obj/
LogisticDashboard.API/bin/

# Backup & crash logs
*.bak
*.log

# NuGet packages
*.nupkg
packages/

# Rider / VS Code / JetBrains stuff
.idea/
.vscode/

# Temporary files
*.tmp
*.temp

# Environment / secrets
.env
*.env
.env.*

# Others
TestResults/
*.db
*.sqlite
*.mdb
*.pdb
