@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Sea Freight Delivery Info";
}

<h1 class="text-center">SEA FREIGHT SHIPMENT INFORMATION</h1>
<div>
    <div class="d-flex justify-content-between mb-2">
        <div>
            <span>Import Shipping Search</span>
        </div>
        <div class="d-flex gap-3">
            <div>
                <input type="file" id="uploadInput" class="d-none" />
                <button class="sea-freight-controls d-flex align-items-end" type="button" onclick="document.getElementById('uploadInput').click();">
                    <img src="@Url.Content("~/resources/icons/file-arrow-up-solid-full.svg")" alt="Upload Icon" width="32" height="32" />
                    Upload data
                </button>
            </div>

            @* <div>
                <button class="sea-freight-controls d-flex align-items-end" type="button">
                    <img src="@Url.Content("~/resources/icons/rotate-right-solid-full.svg")" alt="Upload Icon" width="32" height="32" />
                    Refresh
                </button>
            </div>
            <div>
                <button class="sea-freight-controls d-flex align-items-end" type="button">
                    <img src="@Url.Content("~/resources/icons/floppy-disk-solid-full.svg")" alt="Upload Icon" width="32" height="32" />
                    Save
                </button>
            </div> *@
        </div>
    </div>
    
    <div class="d-flex justify-content-between">
        <div class="d-flex flex-column gap-1">
            <div class="d-flex gap-2 justify-content-end">
                <span class="sub-label">SWB / AWB:</span>
                <input type="text" />
            </div>
            <div class="d-flex gap-2 justify-content-end">
                <span class="sub-label">SHIPPER:</span>
                <input type="text" />
            </div>
            <div class="d-flex gap-2 justify-content-end">
                <span class="sub-label">INVOICE NO.</span>
                <input type="text" />
            </div>
        </div>
        <div class="d-flex flex-column gap-1">
            <div class="d-flex gap-2 justify-content-end">
                <span class="sub-label">DATE DELIVERED:</span>
                <input type="text" />
            </div>
            <div class="d-flex gap-2 justify-content-end">
                <span class="sub-label">ITEM CATEGORY:</span>
                <input type="text" />
            </div>
            <div class="d-flex gap-2 justify-content-end">
                <div>
                    <span class="sub-label d-inline">START DATE:</span>
                    <input type="date"/>
                </div>
                <div>
                    <span class="sub-label d-inline">END DATE:</span>
                    <input type="date" />
                </div>
            </div>
        </div>
    </div>
    
    <div class="d-flex gap-2 justify-content-evenly my-3 text-center">
        <div class="legends border bg-light p-2 w-50">
            <span class="fw-bold">STATUS (DIRECT):</span>
            <div class="d-flex flex-wrap gap-2">
                <div class="flex-grow-1 border border-1 text-center p-1 fill-yellow">
                    <span>IN TRANSIT</span>
                </div>
                <div class="flex-grow-1 border border-1 text-center p-1 fill-blue">
                    <span>ON GOING</span>
                </div>
                <div class="flex-grow-1 border border-1 text-center p-1 fill-green">
                    <span>DELIVERED</span>
                </div>
                <div class="flex-grow-1 border border-1 text-center p-1 fill-orange">
                    <span>FOR DELIVERY TOMORROW</span>
                </div>
                <div class="flex-grow-1 border border-1 text-center p-1 fill-light_green">
                    <span>FOR DELIVERY TODAY</span>
                </div>
            </div>
            
        </div>
        <div class="legends border bg-light p-2 w-50">
            <span class="fw-bold">STATUS (INDIRECT):</span>
            <div class="d-flex flex-wrap gap-2">
                <div class="flex-grow-1 border border-1 text-center p-1 fill-yellow">
                    <span>IN TRANSIT</span>
                </div>
                <div class="flex-grow-1 border border-1 text-center p-1 fill-blue">
                    <span>ON GOING PROCESSING</span>
                </div>
                <div class="flex-grow-1 border border-1 text-center p-1 fill-green">
                    <span>DELIVERED</span>
                </div>
                <div class="flex-grow-1 border border-1 text-center p-1 fill-orange">
                    <span>FOR DELIVERY TOMORROW</span>
                </div>
                <div class="flex-grow-1 border border-1 text-center p-1 fill-light_green">
                    <span>FOR DELIVERY TODAY</span>
                </div>
            </div>
            
        </div>
    </div>

    <div >
        <table id="sea-freight-mastringable" class="overflow-scroll" style="width: 300px;">
            <thead>
                <tr>
                    <!-- SHIPMENT DETAILS -->
                    <th>ID</th>
                    <th class="shipment-details">Item Category</th>
                    <th class="shipment-details">Shipper</th>
                    <th class="shipment-details">Origin</th>
                    <th class="shipment-details">BIL</th>
                    <th class="shipment-details">INV</th>
                    <th>Carrier / Forwarded</th>
                    <th>Port of Discharge</th>
                    <th>Vessel Name</th>
                    <th class="shipment-details">Mode of Shipment</th>
                    <th class="shipment-details">Container Size / No. of PKGS</th>
                    <th class="shipment-details">Container #</th>
                    <th class="shipment-details">Trucker</th>

                    <!-- VESSEL STATUS -->
                    <th>Original ETD</th>
                    <th>ATD</th>
                    <th>Original ETA</th>
                    <th>Latest ETA</th>
                    <th class="vessel-status">ATA</th>
                    <th>ATB Date</th>
                    <th>ATB Time</th>
                    <th>No. of Days Delayed (ETD → ATD)</th>
                    <th>No. of Days Delayed (ETA → ATA)</th>
                    <th>No. of Days Delayed (ETA → ATB)</th>
                    <th>Transit Days (ATD → ATA)</th>
                    <th>Vessel Status</th>
                    <th>Vessel Remarks</th>

                    <!-- SPECIAL REQUIREMENTS -->
                    <th>Have Job Operation</th>
                    <th>With Special Permit</th>

                    <!-- DELIVERY -->
                    <th>BERTH Leadtime</th>
                    <th>ETA BIPH</th>
                    <th>Orig RDD</th>
                    <th class="delivery">Requested Del. Date to Trucker</th>
                    <th class="delivery">Requested Del. Time to Trucker</th>
                    <th>Actual Delivery</th>
                    <th>Actual Del. Time to Trucker</th>
                    <th>Based on BERTH/BIPH Leadtime</th>
                    <th>Actual Leadtime (ATA Port → ATA BIPH, excl. weekends)</th>

                    <!-- SHIPMENT PROCESSING STATUS -->
                    <th>Step 1</th>
                    <th>Step 2</th>
                    <th>Step 3</th>
                    <th>Step 4</th>
                    <th>Step 5</th>
                    <th>Step 6</th>
                    <th>Actual Status</th>
                    <th>Shipment Processing Remarks</th>

                    <!-- BOBTAIL / DETENTION -->
                    <th>Bobtail Date</th>
                    <th>Requested Pick Up Date</th>
                    <th>Date Return of Empty Container</th>
                    <th>Free Time Valid Until</th>
                    <th>No. of Days with Detention (Est.)</th>
                    <th>No. of Days of Free Time</th>

                    <!-- MP / PURCHASING -->
                    <th>Requested Del. Date to Ship</th>
                    <th>Priority Container</th>
                    <th>Earliest Shortage Date</th>
                    <th>Request to Unload (AM/PM)</th>

                    <!-- FINAL -->
                    <th>Random Boolean</th>
                    <th>Final Remarks</th>
                </tr>
            </thead>

            
            <tbody>

            </tbody>
        </table>
    </div>
</div>
@section Scripts {
    <script src="@Url.Content("~/js/page-scripts/SeaFreightDeliveryInfo.js")"></script>
}
