@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Air Freight Delivery Info";
}

<h1 class="text-center">AIR FREIGHT SHIPMENT INFORMATION</h1>
<div>
    <div class="d-flex justify-content-between mb-2">
        <div>
            <span>Import Shipping Search</span>
        </div>
        <div class="d-flex gap-3">
            <div>
                <input type="file" id="uploadInput" class="d-none" />
                <button class="air-freight-controls d-flex align-items-end" type="button" onclick="document.getElementById('uploadInput').click();">
                    <img src="@Url.Content("~/resources/icons/file-arrow-up-solid-full.svg")" alt="Upload Icon" width="32" height="32" />
                    Upload data
                </button>
            </div>

        </div>
    </div>

    <div class="d-flex gap-2 justify-content-evenly my-3 text-center">
        <div class="legends border bg-light p-2 w-50">
            <span class="fw-bold">STATUS (DIRECT):</span>
            <div class="d-flex flex-wrap gap-2">
                <button type="button" class="air-freight-button flex-grow-1 border border-1 text-center p-1 fill-yellow" data-item_category="direct" data-status="in transit">
                    <span>IN TRANSIT</span>
                </button>
                <button class="air-freight-button flex-grow-1 border border-1 text-center p-1 fill-blue" data-item_category="direct" data-status="on going processing">
                    <span>ON GOING PROCESSING</span>
                </button>
                <button class="air-freight-button flex-grow-1 border border-1 text-center p-1 fill-green" data-item_category="direct" data-status="delivered">
                    <span>DELIVERED</span>
                </button>
                <button class="air-freight-button flex-grow-1 border border-1 text-center p-1 fill-orange" data-item_category="direct" data-status="for delivery tomorrow">
                    <span>FOR DELIVERY TOMORROW</span>
                </button>
                <button class="air-freight-button flex-grow-1 border border-1 text-center p-1 fill-light_green" data-item_category="direct" data-status="for delivery today">
                    <span>FOR DELIVERY TODAY</span>
                </button>
            </div>

        </div>
        <div class="legends border bg-light p-2 w-50">
            <span class="fw-bold">STATUS (INDIRECT):</span>
            <div class="d-flex flex-wrap gap-2">
                <button class="air-freight-button flex-grow-1 border border-1 text-center p-1 fill-yellow" data-item_category="indirect" data-status="in transit">
                    <span>IN TRANSIT</span>
                </button>
                <button class="air-freight-button flex-grow-1 border border-1 text-center p-1 fill-blue" data-item_category="indirect" data-status="on going processing">
                    <span>ON GOING PROCESSING</span>
                </button>
                <button class="air-freight-button flex-grow-1 border border-1 text-center p-1 fill-green" data-item_category="indirect" data-status="delivered">
                    <span>DELIVERED</span>
                </button>
                <button class="air-freight-button flex-grow-1 border border-1 text-center p-1 fill-orange" data-item_category="indirect" data-status="for delivery tomorrow">
                    <span>FOR DELIVERY TOMORROW</span>
                </button>
                <button class="air-freight-button flex-grow-1 border border-1 text-center p-1 fill-light_green" data-item_category="indirect" data-status="for delivery today">
                    <span>FOR DELIVERY TODAY</span>
                </button>
            </div>
        </div>
    </div>

    <div style="height: 50vh;">
        
        <div class="d-flex justify-content-end">
            <div class="d-flex flex-column gap-1">
                <div class="d-flex gap-2 justify-content-end">
                    <div>
                        <span class="sub-label d-inline">UPLOAD DATE & TIME:</span>
                        <select id="upload-date-time">
                            @* <option value="value">text</option> *@
                        </select>
                    </div>
                    <div>
                        <span class="sub-label d-inline">START DATE:</span>
                        <input id="start-date" type="date" />
                    </div>
                    <div>
                        <span class="sub-label d-inline">END DATE:</span>
                        <input id="end-date" type="date" />
                    </div>
                </div>
            </div>
        </div>
        <table id="air-freight-table">
            <thead>
                <tr>
                    <!-- SHIPMENT DETAILS -->
                    <th class="shipment-details">ID</th>
                    <th class="shipment-details">Item Category</th>
                    <th class="shipment-details">Shipper</th>
                    @* <th class="shipment-details">Origin</th> *@
                    <th class="shipment-details">AWB</th>
                    <th class="shipment-details">Forwarder / Courier</th>
                    <th class="shipment-details">Broker</th>
                    <th class="shipment-details">Flight Detail</th>
                    <th class="shipment-details">Invoice No</th>
                    <th>Freight Term</th>
                    <th>No. Of PKGs</th>

                    <!-- FLIGHT STATUS -->
                    <th>Original ETD</th>
                    <th>ATD</th>
                    <th>Original ETA</th>
                    <th>Latest ETA</th>
                    <th class="shipment-details">ATA</th>
                    <th>Flight Status Remarks</th>

                    <!-- DELIVERY -->
                    <th>Import Permit Status</th>

                    <!-- SPECIAL REQUIREMENTS -->
                    <th>Have Arrangement</th>
                    <th>With Special Permit</th>

                    <!-- DELIVERY -->
                    <th>ATA Port / BIPH Leadtime</th>
                    <th>ETA BIPH Manual Computation</th>
                    <th>Requested Del. Date To Ship</th>
                    <th>Earliest Shortage Date</th>
                    <th class="delivery">Actual Del</th>
                    <th class="delivery">Status</th>
                    <th>Import Remarks</th>
                    <th>System Update</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
@section Scripts {
    <script type="module" src="@Url.Content("~/js/page-scripts/AirFreightDeliveryInfo.js")"></script>
}
